@charset "utf-8";
.noborder{border: 0 none !important;}

/*--index.html--*/
.callMain{width: 100%; overflow: hidden; background-color: #55aced; color: #feffff;}
.callUser{width: 100%; overflow: hidden; padding: 0.7em 0; font-size: 1em; line-height: 100%;}
.callUser i{width: 1em; height: 1em; margin: 0 0.75em; background: url("../images/index/icon_user.png") no-repeat; float: left; vertical-align: middle;}
.callCard{width: 100%; overflow: hidden; padding: 0 0 0.7em 0.65em; font-size: 1em; line-height: 140%;}
.callCard i{width: 1.25em; height: 1em; margin: 0 0.5em 0 0; background: url("../images/index/cardicon.png") no-repeat; float: left; vertical-align: middle;}
.callCard span{color: #fff031; padding-left: 0.5em;}
.callBalance{width: 100%; height: 2.4em; background-color: #379ce7; font: 1em/2.4em "微软雅黑";}
.callBalance i{width: 1.6em; height: 1.6em; margin: 0.4em 0.25em 0.4em 0.5em; background: url("../images/index/index_menu.png") no-repeat; float: left; vertical-align: middle;}
.callIcon{border-top: 1px solid #e4e4e4;}
.icon-link{ text-align:center; padding:1em; display:block; color:#222; font-size: 1em;}
.icon-link:active{ color:#438cf3; opacity:0.8}
.icon-link .icon{ width:4em; height:4em; display:block; margin:0 auto 0.5em;;}
.callIcon .ads-c-4{border: solid #e4e4e4; border-width: 0 1px 1px 0;}
.ads-row .ads-c-4:nth-child(3n+0){border-right: 0 none;}

/*--cornetNet.html 亲友网--*/
.relaBox{width: 100%; overflow: hidden;}
.cornetHead{width: 100%; padding: 1.4em 6% 0.75em; color: #2b2b2b; position: relative;}
.cornetNo{font-size: 1.25em;}
.cornetHead p{font-size: 1em; line-height: 2em; padding-top: 0.5em;}
.cornetHead span{color: #e1006c;}
.corUpgrade{width: 100%; padding-right: 1em; text-align: right; position: absolute; right: 0; top: 1.4em;}
.corUpBtn{font-size: 1em; color: #fff; line-height: 2em; padding: 0 1em; display: inline-block; background-color: #55aced; border-radius: 0.4em;}
.corUpQ{width: 1.8em; height: 1.8em; display: inline-block; vertical-align: middle; margin-left: 0.5em; background: url("../images/call/Qicon.png") no-repeat center center; background-size: 100%; -webkit-background-size: 100%;}
.corUpA{width: 84%; margin-top: 1.2em; position: absolute; right: 0.5em; z-index: 10; display: none;}
.corUpA:after{width: 0; height: 0; border-width: 10px; border-style: solid; border-color: transparent transparent #000; opacity: 0.6; position: absolute; top: -20px; right: 0.8em;}
.corUpABg{width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 11; background-color: #000; opacity: 0.6; border-radius: 0.5em;}
.corUpAMain{width: 100%; height: 100%; padding: 1em; text-align: left; position: relative; z-index: 20;}
.corUpAMain p{font-size: 1em; line-height: 140%; color: #fff; padding-top: 0; opacity: 0.8;}


.cornetTab{text-align: center; margin-bottom: 10em;}
.cornetTab tr th{background-color: #f1f1f1; border-bottom: 1px solid #c8c7cc; font-size: 1em; color: #55aced; line-height: 3em;}
.cornetTab tr td{border-bottom: 1px solid #c8c7cc; text-align: center; font-size: 1em; color: #000000; line-height: 2.6em; vertical-align: middle;}
.relaNoHead{width: 100%; padding: 0.2em 0 1em 0; background-color: #55aced; font-size: 1em; line-height: 2.5em; color: #fff; text-align: center;}
.relaBtn{padding: 0.4em 1.6em; background-color: #88bd16; border-radius: 0.4em;}
.relaNoNav{width: 100%; overflow: auto; background-color: #efeff5;}
.relaNoNav li{width: 50%; font-size: 1em; line-height: 3em; color: #666; text-align: center; border-bottom: 1px solid #ddd; position: relative; float: left;}
.relaNoNav li:first-child:after{width: 1px; height: 1em; background-color: #ddd; position: absolute; right: 0; top: 50%; margin-top: -0.5em;}
.relaNoNav li.on:before{width: 80%; height: 2px; border-radius: 2px; background-color: #55aced; position: absolute; bottom: -1px; left: 10%;}
.relaNoMain{width: 100%; overflow: hidden; background-color: #fff; padding: 0 1em 1em;}
.relaNoTitle{font-size: 1.25em; line-height: 2em; color: #55aced;}
.relaNoMain p{font-size: 0.75em; line-height: 150%; color: #666;}
.relaNoText{padding-top: 0.5em;}
.relaCor{width: 100%; overflow: hidden; padding: 1em 0 2em;}

/*--relativesNet.html 短号网--*/
.relativeHead{width: 100%; overflow: hidden; padding: 0.5em 1em 0; color: #2b2b2b; position: relative;}
.relHeadPadding{padding-bottom: 1em;}
.relativeHead span{width: 5.2em; display: inline-block; text-align: right; font-size: 1.25em; line-height: 2em;}
.relativeHead input,.relativeHead select{width: 48%; vertical-align: middle; border: 1px solid #ccc; border-radius: 0.2em; padding: 0 1em; font-size: 1.25em; line-height: 2em;}
.relativeHead input{color: #e1006c;}
.relativeHead select{height: 2em; color: #666;}
.relativeMain{width: 100%; overflow: hidden; border-top: 1px solid #c8c7cc;}
.relativeMain li{width: 100%; height: auto; border-bottom: 1px solid #c8c7cc; border-left: 0.5em solid #55aced; padding: 1.4em 0 1em 1.5em;}
.relativeMain li h5{font-size: 1.5em; color: #000; font-weight: normal; padding-bottom: 0.75em;}
.relativeMain li p{color: #6f6f6f; font-size: 1em; line-height: 1.5em;}
.relHeadBtn{width: 18%; font-size: 1.25em; line-height: 2em; background-color: #55aced; display: inline-block; margin-left: 0.5em; border-radius: 0.4em; text-align: center; color: #fff; vertical-align: middle;}

/*--cornetNetDetail.html 亲友网详情--*/
.corDetBtn{width: 50%; overflow: hidden; padding: 0 2%;}
.corDetDelBtn{width: 1.6em; height: 1.6em; margin: 0.5em; border-radius: 50%; background-color: #c7c7c7; display: inline-block; vertical-align: middle; position: relative;}
.corDetDelBtn:before{width: 0.8em; height: 1px; background-color: #fff; position: absolute; left: 50%; top: 50%; margin: -0.5px 0 0 -0.4em;}
.usable{background-color: #e1006c;}
.corDetInp,.corDetLongInp{width: 85%; height: 2em; overflow: hidden; position: relative; border-radius: 0.6em; background-color: #f1f1f1; border: 1px solid #c7c7c7;}
.corDetInp{margin: 0 auto;}
.corDetInp input,.corDetLongInp input{vertical-align: middle; text-align: center; font-size: 1em; color: #000; line-height: 2em; position: absolute; top: 0; left: 0;}
.corDetInp input{width: 100%;}
.corDetLongInp{margin-left: 5%; text-align: left;}
.corAlign{text-align: left; text-indent: 6%;}
.corDetLongInp:after{width: 1em; height: 1em; background: url("../images/icons/phoneicon.png") no-repeat center center; background-size: cover; -webkit-background-size: cover; position: absolute; right: 0.5em; top: 0.5em;}
.corDetLongInp input{width: 100%; padding: 0 1.5em 0 0.6em; text-align: left; letter-spacing: -1px;}

/*--addCornet.html 短号网--*/
.addInput{padding-bottom: 0.5em;}
.addInput input{width: 60%; padding: 0 1em; line-height: 2em; border: 1px solid #ccc; border-radius: 0.4em; background-color: #fff;}
