
.page {display: none;position: absolute;top: 0;left: 0;bottom: 0;right: 0;width: 100%;height: 100%;overflow: hidden;}


#datescroll div{float: left;margin-left: 10%; padding-right: 22px;}
#datescroll_datetime div{float: left;margin-left: 10%;padding-right: 22px;}

#yearwrapper{position: absolute;left: 0;top:45px;bottom: 60px;width:80%;}
#monthwrapper{position: absolute;left: 26%;top:45px;bottom: 60px;width:80%;}
#daywrapper{position: absolute;left: 50%;top:45px;bottom: 60px;width:80%;}

#Hourwrapper{position: absolute;left: 0;top:175px;bottom: 55px;width:80%;}
#Minutewrapper{position: absolute;left: 26%;top:175px;bottom: 55px;width:80%;}
#Secondwrapper{position: absolute;left: 50%;top:175px;bottom: 55px;width:80%;}

/*增加手指滑动触摸面积*/
#Hourwrapper ul li{color: #898989;font-size: 12px;}
#Minutewrapper ul li{color: #898989;font-size: 12px;}
#Secondwrapper ul li{color: #898989;font-size: 12px;}
#yearwrapper ul li{color: #898989;font-size: 12px;}
#monthwrapper ul li{color: #898989;font-size: 12px;}
#daywrapper ul li{color: #898989;font-size: 12px;}

#markyear{position:relative; margin-left: 76px;top:-2px;}
#markmonth{position:relative; margin-left: 40px;top:-2px;}
#markday{position:relative; margin-left: 42px;top:-2px;}
#markhour{position:relative; margin-left: 62px;top:-2px;}
#markminut{position:relative; margin-left: 58px;top:-2px;}
#marksecond{position:relative; margin-left: 68px;top:-2px;}
#dateheader{width: 100%;height: 50px;background: #55aced;text-align: center;color: #fff;line-height: 50px;font-size: 20px;}

#setcancle ul{
    text-align: center;
    line-height: 30px;
    margin:1px auto;
    font-size: 20px;
}
#setcancle ul li{
    border-radius: 4px;
    float: left;
    width: 40%;
    height: 30px;
    list-style-type: none;
    font-size: 14px;
    color: #fff;
    margin-top: 8px;
}
#dateconfirm{
    position: absolute;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#55aced), to(#0482e1));
    left:20px;
}
#datecancle{
    position: absolute;
    background:  #b9b8b8;
    right:20px;
    width: 40%;
}
#dateshadow{display: none;position: fixed;width: 100%;height: 100%;top:0;left:0;background: #000; filter:alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5;}
#datePage{font-size: 22px; border-radius: 3px; position:fixed;top:50%;MARGIN-RIGHT: auto;vertical-align:middle;
    MARGIN-LEFT: auto;width: 80%;;height: 240px; max-width: 600px; background: #FFFFFF;z-index:9999999;}
#datetitle{width: 100%;height: 30px;background: #55aced;text-align: center;color: #fff;line-height: 30px;font-size: 14px;}
#datemark{font-size: 18px;left:5%;width: 90%;height: 20px;border: 1px solid #169afc;background:-webkit-gradient(linear, 0 0, 0 100%, from(#c1e2fa), to(#88c9fa));position:absolute;top:93px;}
#timemark{font-size: 18px;left:5%;width: 90%;height: 20px;border: 1px solid #169afc;background:-webkit-gradient(linear, 0 0, 0 100%, from(#c1e2fa), to(#88c9fa));position:absolute;top:222px;}
#datescroll{background: #F8F8F8;width:94%; margin:10px 3%;border: 1px solid #E0E0E0;border-radius: 4px;height: 120px;text-align: center;line-height: 40px;}
#datescroll_datetime{display: none;background:#F8F8F8;width:94%; margin:10px 3%;margin-top: 10px;border: 1px solid #E0E0E0;border-radius: 4px;height: 120px;text-align: center;line-height: 40px;}
#yearwrapper ul,#monthwrapper ul,#daywrapper ul{width:40%;}
#Hourwrapper ul,#Minutewrapper ul,#Secondwrapper ul{width:40%;}
#dateFooter{width:100%;background: #fff;height: 50px;bottom: 0px;position: absolute;}
@media(min-width:640px) {
    #datePage{left: 50%; margin-left: -300px;}
}
